// Background-colors#5
$bg-color01: #ffffff;
$bg-color02: #f2f7ff;
$bg-color03: #377dff;
$bg-color04: #1e1e1e;
$bg-color05: #d9d9d9;
// text-colors#9
$text-color01: #ffffff;
$text-color02: #6cdac1;
$text-color03: #ff796d;
$text-color04: #8e989f;
$text-color05: #377dff;
$text-color06: #495057;
$text-color07: #1e1e1e;
$text-color08: #000000;
$text-color09: #191919;
// border colors#6
$border-color01 : #ffffff;
$border-color02 : #eff1fe;
$border-color03 : #377dff;
$border-color04 : #1e1e1e;
$border-color05 : #f2f2f2;
$border-color06 : #ebebeb;
